
*{
padding: 0;
margin: 0;
}
a{
    color:rgb(40, 29, 202);
    text-decoration: none;
  }
  nav{
  
    background-color: rgb(29, 29, 29);
    padding-bottom: 5px;
    width: 98%;
    height: 40px;
   
  }
  .logo{
    float: left;
    width: 80px;
    height: 40px;
    display: block;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    background-color: rgb(29, 29, 29);
  
  }
  li{
    display: inline-block;
    background-color: rgb(29, 29, 29);
    padding-right: 20px;
  }
  