.container{
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 
}
.heading
{
    width: 600px;
    height: 300px;
    margin: auto;
    position: inherit;
    top:0px; bottom: 0px; right: 0px; left: 0px;
}
.title1
{
    display: block;
   padding-top: 12%;
    text-align: center;
    color: white;
    font-family:'Asap Condensed', sans-serif;
    font-size: 60pt;
    margin-bottom: 100px;
    font-weight: bold ,initial;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
.search
{
    display: flex;

    
}
.search>select
{
    background: rgb(50, 50, 119);
    
    color: #fff;
    padding: 10px;
    width: 80px;
    height: 40px;
    border: none;
    font-size: 17px;
    font-family:'Asap Condensed', sans-serif;
    box-shadow: 0 5px rgba(0,0,0,0.5);
    outline: none;
}
input[type=text] {
    padding:13px;
    border:2px solid rgb(50, 50, 119);
    -webkit-border-radius: 0px;
    width: 57%;
    border-radius: 5px;
}
.confirm-serach
{
    background: rgb(50, 50, 119);
    color: #fff;
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 17px;
    font-family:'Asap Condensed', sans-serif;
    box-shadow: 0 5px;
    box-shadow: 0 5px rgba(0,0,0,0.5);
    outline: none;
}